.timer {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.timer>.field {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.field>.value {
    font-weight: 600;
    font-size: 32px;
    padding-inline: 12px;
}

.field>.label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}